fastapi
pydantic
langchain
langchain-community
langchain-anthropic
langchainhub
langchain-openai
langchain-chroma
langchain-groq
langchain-google-genai
bs4
python-dotenv
streamlit
faiss-cpu
chromadb
requests
httpx
ijson
tenacity
